:root, :host {
    --flux-format-color-value-background-color: #ffffff;
    --flux-format-color-value-color: #000000;
    --flux-format-color-value-font-size: 16px;
    --flux-format-color-value-foreground-color: #000000;
    --flux-format-color-value-gap: 5px;
    --flux-format-color-value-size: 20px;
}
