:root {
    --flux-value-format-color-background-color: var(--flux-color-scheme-background, #ffffff);
    --flux-value-format-color-font-size: 16px;
    --flux-value-format-color-foreground-color: var(--flux-color-scheme-foreground, #000000);
    --flux-value-format-color-gap: 5px;
    --flux-value-format-color-size: 20px;
}
