:host {
    align-items: center;
    background-color: var(--format-color-value-background-color);
    color: var(--format-color-value-foreground-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: var(--format-color-value-font-size);
    font-style: var(--format-color-value-font-style);
    font-weight: var(--format-color-value-font-weight);
    gap: var(--format-color-value-gap);
    height: auto;
    max-width: 100%;
    width: 100%;
}

.color {
    background-color: var(--format-color-value-color);
    flex-grow: 0;
    flex-shrink: 0;
    height: var(--format-color-value-size);
    width: var(--format-color-value-size);
}

.text {
    color: var(--format-color-value-foreground-color);
    flex-grow: 0;
    flex-shrink: 0;
    font-size: var(--format-color-value-font-size);
    font-style: var(--format-color-value-font-style);
    font-weight: var(--format-color-value-font-weight);
}
