:root {
    --flux-format-url-value-active-foreground-color: var(--flux-format-url-value-foreground-color);
    --flux-format-url-value-active-text-decoration: var(--flux-format-url-value-text-decoration);
    --flux-format-url-value-background-color: var(--flux-color-scheme-background, #ffffff);
    --flux-format-url-value-font-size: 16px;
    --flux-format-url-value-foreground-color: var(--flux-color-scheme-accent, #000000);
    --flux-format-url-value-outline-color: var(--flux-color-scheme-foreground, #000000);
    --flux-format-url-value-text-decoration: underline;
}
