:root, :host {
    --flux-format-url-value-active-foreground-color: var(--flux-format-url-value-foreground-color);
    --flux-format-url-value-active-text-decoration: var(--flux-format-url-value-text-decoration);
    --flux-format-url-value-background-color: #ffffff;
    --flux-format-url-value-font-size: 16px;
    --flux-format-url-value-foreground-color: #000000;
    --flux-format-url-value-outline-color: #000000;
    --flux-format-url-value-text-decoration: underline;
}
