:host {
    background-color: var(--flux-value-format-url-background-color);
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

a {
    color: var(--flux-value-format-url-foreground-color);
    cursor: default;
    font-size: var(--flux-value-format-url-font-size);
    text-decoration: underline;
}

a:link {
    cursor: pointer;
}
