:host {
    background-color: var(--flux-format-url-value-background-color);
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

a {
    color: var(--flux-format-url-value-foreground-color);
    cursor: default;
    font-size: var(--flux-format-url-value-font-size);
    outline: none;
    text-decoration: none;
}

a:link {
    cursor: pointer;
    text-decoration: var(--flux-format-url-value-text-decoration);
}

a:focus-visible {
    outline: 2px solid var(--flux-format-url-value-outline-color);
    outline-offset: 0;
}

a:link:is(:hover, :active) {
    color: var(--flux-format-url-value-active-foreground-color);
    text-decoration: var(--flux-format-url-value-active-text-decoration);
}
