:host {
    background-color: var(--format-url-value-background-color);
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

a {
    color: var(--format-url-value-foreground-color);
    cursor: default;
    font-size: var(--format-url-value-font-size);
    outline: none;
    text-decoration: none;
}

a:link {
    cursor: pointer;
    text-decoration: var(--format-url-value-text-decoration);
}

a:focus-visible {
    outline: 2px solid var(--format-url-value-outline-color);
    outline-offset: 0;
}

a:link:active {
    color: var(--format-url-value-active-foreground-color);
    text-decoration: var(--format-url-value-active-text-decoration);
}

@media (hover: hover) {
    a:link:hover {
        color: var(--format-url-value-active-foreground-color);
        text-decoration: var(--format-url-value-active-text-decoration);
    }
}
